*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  font-family: 'Roboto', sans-serif;
}

section {
  overflow: hidden;
}

button {
  width: 11.5rem;
  height: 3.4rem;
  border-radius: 2rem !important;
  border: none;
  outline: none;
  background-color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize !important;
  font-size:19px !important; 
  font-weight: 500 !important;
}